.CFUserTextEncoding
.DS_Store
.Robomongolog.txt
.Trash/*
.bash_history
.boot2docker/*
.config/*
.cups/*
.dbshell
.erlang.cookie
.mongorc.js
.node-gyp/*
.npm/*
.npmrc
.nvm/*
.oh-my-zsh/*
.pm2/*
.rediscli_history
.ssh/*
.vim/*
.viminfo
.vimrc
.vnc/*
.zcompdump-AVJPL-5.0.5
.zsh-update
.zsh_history
.zshrc
.zshrc-e
Applications/*
Desktop/*
Documents/*
Downloads/*
JavasScript Utils Func.js
Library/*
Movies/*
Music/*
Pictures/*
Public/*
Sites/*
VirtualBox VMs/*
customBuilds/*
dump.rdb
nodeschool.io/*
